@font-face {
    font-family: 'Source Code Pro';
    font-weight: 200;
    src: url('SourceCodePro-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: italic;
    font-weight: 200;
    src: url('SourceCodePro-ExtraLightIt.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 300;
    src: url('SourceCodePro-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: italic;
    font-weight: 300;
    src: url('SourceCodePro-LightIt.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 400;
    src: url('SourceCodePro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: italic;
    font-weight: 400;
    src: url('SourceCodePro-It.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 500;
    src: url('SourceCodePro-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: italic;
    font-weight: 500;
    src: url('SourceCodePro-MediumIt.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 600;
    src: url('SourceCodePro-Semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: italic;
    font-weight: 600;
    src: url('SourceCodePro-SemiboldIt.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 700;
    src: url('SourceCodePro-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: italic;
    font-weight: 700;
    src: url('SourceCodePro-BoldIt.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 900;
    src: url('SourceCodePro-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: italic;
    font-weight: 900;
    src: url('SourceCodePro-BlackIt.ttf') format('truetype');
}
